// Place all the styles related to the public::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid{
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 6%;
  margin-bottom: 50px;
}

.i-main{
  text-align: center;
}